<?php
error_reporting(E_ALL & ~E_STRICT & ~E_DEPRECATED & ~E_NOTICE);
ini_set('display_errors',0);
ini_set('log_errors',1);
ini_set('error_log','/var/www/html/1ex/errors.log');

class Cfg {}
$CFG = new Cfg();
$CFG->dbhost = "";
$CFG->dbname = "";
$CFG->dbuser = "";
$CFG->dbpass = "";
